<main class="blog-page">
  <div class="container">
    <h1 class="blog-page__title">Blogs</h1>
    <p class="blog-page__subtitle">Thoughts on robotics, computer vision, and things I find interesting.</p>

    <div class="blog-grid">

      <article class="blog-card">
        <div class="blog-card__meta">
          <time datetime="2024-03-10">Mar 10, 2024</time>
          <span class="blog-card__tag">Coming Soon</span>
        </div>
        <h2 class="blog-card__title">Blog Post Title</h2>
        <p class="blog-card__excerpt">Blog post description will go here. Stay tuned for updates on robotics, computer vision, and more.</p>
        <a href="#" class="blog-card__link">Read more <i class="fas fa-arrow-right"></i></a>
      </article>

    </div>
  </div>
</main>
