<section id="contact" class="section section--alt section--center">
  <div class="container">
    <h2 class="section__heading">Get In Touch</h2>
    <p class="section__subtext">Whether it's a collaboration idea or just to say hello, I'd be glad to hear from you.</p>
    <a href="mailto:saichan8@seas.upenn.edu" class="contact__email">
      <i class="fas fa-envelope"></i> saichandgubbala@gmail.com
    </a>
    <ul class="social-icons">
      <li><a href="https://www.linkedin.com/in/sai-chand-g/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
      <li><a href="https://github.com/saichand44" target="_blank"><i class="fab fa-github"></i></a></li>
    </ul>
  </div>
</section>
